---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__lead {
  color: #00c4cc !important;
  width: 70% !important;
  font-size: 1em !important;
}

#page-title {
  font-size: 2em !important;
  color: #00c4cc !important;
  width: 60% !important;
}